.mleft {
	margin-left: 25px;
}

.common-header {
	height: 64px;
	box-shadow: 0 3px 10px 3px rgba(0,0,0,.2);
}

.site-logo {
	margin-top: 8px;
}

.header-list {
	margin-top: 12px;
	-webkit-padding-start: 0;
	height: 36px;
	line-height: 36px;
}

.header-list::after {
	content: '';
	display: block;
	clear: both;
}

.list-item {
	float: left;
	list-style-type: none;
}

.profile img {
	margin-right: 10px;
	vertical-align: middle;
}

.cursorHand {
	cursor: pointer;
	cursor: hand;
}
